
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <h2>About ICC Solutions</h2>
            <p>ICC Solutions Limited is a global leader in the provision of EMV test tools and services and offers the complete set of qualified test suites for payment brand accreditation of contact and contactless EMV terminals. Our tools are used worldwide enabling development, quality assurance and regression testing in addition to formal merchant certifications.</p>            
            <p>Working with Vantiv in the USA, ICC Solutions developed VIABLE – an innovative and highly efficient closed-loop solution designed to simplify the EMV enablement, testing and validation process. VIABLE places merchants in full control of their EMV certification activities.</p>
        </div>
        <div class="col-md-4 footer-nav ">
            <h4>Quick Links</h4>
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About ICC</a></li>
                    <li><a href="#">Export</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="#">EMV in the USA</a></li>
                    <li><a href="#">In The News</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li><a href=""><img border="0" style="margin:0 5px 10px 0;" alt="logo" src="/Img/SocialIcons/facebook-logo.png"></a>
                <a href=""><img border="0"  style="margin:0 5px 10px 0;" alt="logo" src="/Img/SocialIcons/twitter-logo.png"></a>
                <a href=""><img border="0"  style="margin:0 5px 10px 0;" alt="logo" src="/Img/SocialIcons/linkedin-logo.png"></a>
                <a href=""><img border="0"  style="margin:0 5px 10px 0;" alt="logo" src="/Img/SocialIcons/vimeo-square-logo.png"></a></li>
            </ul>
        </div>
        <div class="col-md-2 footer-brand animated fadeInLeft">
            <h2>Address</h2>
            <p>St James Business Centre</p>
            <p>Warrington, Cheshire</p>   
            <p>UK, WA4 6PS</p>
            <br/>
            <p>Tel: (01925) 629001</p>
            <p>Email: info@iccsolutions.com</p>                  
        </div>
    </div>
    <p>ICC Solutions © 2016</p>
</footer>
