<div id="intro" style=" background-position-y: 0px !important;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
</div>
