@model IEnumerable<newSiteMVC.Models.tbl_UserControl>

<div class="col-sm-4">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/0jdZsValPNg" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
