@model IEnumerable<newSiteMVC.Models.tbl_UserControl>

<div class="col-md-4" style="margin-bottom: 20px">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/0jdZsValPNg" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
