@model IEnumerable<newSiteMVC.Models.tbl_UserControl>
@{
    ViewBag.Title = "OneColumnWithoutImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<%--------------------- Top Banner with moving image ---------------------%>*@

<div id="intro" style="padding-top: 50px; padding-bottom:50px">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>Charity</h2>
                    <p class="intro-text">ICC Solutions take great pride in the number of industry awards and accreditation's we’ve achieved, which reflect the high-level of service that we deliver.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<%--------------------- One Column User Controls ---------------------%>*@

@Html.Partial("_OneColumnWithImage", Model)


@*<%--------------------- Moving Background Image ---------------------%>*@

@Html.Partial("_MovingBackgroundImage")




